<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
    
    
    <!--
     ##########################################################################
                            Services Declerations Begin
     ##########################################################################
    -->

    <!-- Example Services Decleration


    <bean id="personServiceImpl" class="com.company.projectname.service.impl.PersonServiceImpl" >
        <property name="personDao" ref="personDao"/>
    </bean>

    
    -->
    <bean id="contactServiceImpl" class="com.bia.imec.services.impl.ContactServiceImpl" >
        <property name="contactsDao" ref="contactsDao" />
    </bean>
    
    <bean id="emailsServiceImpl" class="com.bia.imec.services.impl.EmailsServiceImpl" >
        <property name="mailServersDao" ref="mailServersDao" />
        <property name="emailsDao" ref="emailsDao" />
    </bean>
    
    <bean id="userServiceImpl" class="com.bia.imec.services.impl.UserServiceImpl" >
        <property name="usersDao" ref="usersDao" />
    </bean>
    
</beans>