<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
    
    <bean id="IContactedUsService" class="com.abbt.training.services.impl.ContactedUsServiceImpl"/>   
    <bean id="ICourseService" class="com.abbt.training.services.impl.CourseServiceImpl"/>   
    <bean id="IInstructorService" class="com.abbt.training.services.impl.InstructorServiceImpl"/>   
    
</beans>                