#taskTable th, #taskTable td {
    padding-left:4px;
    text-align:left;
}
.taskTable td {
    border-bottom:1px solid #CCCCCC;
    padding-left:4px;
    text-align:left;
    vertical-align:top;
}
.taskTable { min-width:90%; }

.taskLabel {
    font-family:arial, sans-serif; color:#6f6f6f;
    /*font-weight:bold;*/
}