<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

                
    <bean id="TimesheetDBDao" class="com.abbt.timesheet.daos.TimesheetDBDaoImpl"/>
  
    <!--
    <bean id="IAccountService" class="com.abbt.crm.base.services.impl.AccountServiceImpl" >
        <property name="dao">
            <ref bean="IGenericDAO"></ref>
        </property>
    </bean>              
    -->
    
</beans>                