<?xml version="1.0" encoding="UTF-8"?>
<beans
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.directwebremoting.org/schema/spring-dwr
    http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">
    
    <!--
     ##########################################################################
                            Services Declerations Begin
     ##########################################################################
    -->

    <!-- Example Services Decleration


    <bean id="personServiceImpl" class="com.company.projectname.service.impl.PersonServiceImpl" >
        <property name="personDao" ref="personDao"/>
    </bean>

    
    -->
    <bean id="usersAjaxService" class="com.bizintelapps.proaccounting.ajax.UsersAjaxService" >
        <dwr:remote javascript="AjaxUsersService">
            <dwr:include method="saveUser" />
        </dwr:remote>
        <property name="usersService" ref="usersServiceImpl" />
    </bean>
    <dwr:configuration>
        <!-- <dwr:convert type="bean" class="com.bia.ccm.entity.*" />-->
        <dwr:convert type="bean"  class="java.util.*"  />
    </dwr:configuration>
</beans>