<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
    
     
    <!-- EntityManagerFactory -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="BizPayrollServicesPU"/>
    </bean>
    
    <!-- 
    datasource bean is used by spring unit testing 
    Uncomment this bean when testing application against some local database
    -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql:///bizpayroll"/>
        <property name="username" value="root"/>
        <property name="password" value="apple123"/>
    </bean>
    
     
    <!-- advisor -->
    <bean id="finderIntroductionAdvisor" class="com.abbhsoft.jpadaoframework.dao.advisor.FinderIntroductionAdvisor" />
    
    <!-- helper bean resolves the finder method name -->   
    <bean id="extendedFinderNamingStrategy" class="com.abbhsoft.jpadaoframework.dao.finderhelper.ExtendedFinderNamingStrategy" />
    
    <!-- target -->
    <bean id="abstractDaoTarget" class="com.abbhsoft.jpadaoframework.dao.GenericDaoJPAImpl" abstract="true">
        <property name="entityManagerFactory"><ref bean="entityManagerFactory"/></property>
        <property name="namingStrategy">
            <ref bean="extendedFinderNamingStrategy" />
        </property>
    </bean>
    
    <!-- base Proxy -->
    <bean id="abstractDao" class="org.springframework.aop.framework.ProxyFactoryBean" abstract="true">
        <property name="exposeProxy" value="true" />
        <property name="interceptorNames">
            <list>
                <value>finderIntroductionAdvisor</value>
            </list>
        </property>
    </bean>
    
    
    
    
    <!--
     ##########################################################################
                            Base Declerations End
     ##########################################################################
    <import resource="classpath:ApplicationContext-JpaDaoFramework.xml" />
    -->
    
    
    <!--
    #####################################################################
            Dao Declaration Begin
    #####################################################################    
    -->

    
   <!--  Dao instances 
   <bean id="personDao" parent="abstractDao">
      <property name="proxyInterfaces">
         <value>com.company.dao.PersonDao</value>
      </property>
      <property name="target">
         <bean parent="abstractDaoTarget">
            <constructor-arg>
               <value>com.company.model.Person</value>
            </constructor-arg>
         </bean>
      </property>
   </bean>
   
   -->
   <!-- 
            To add new dao copy the entire bean defination from above and change
            3 things
            1. bean id
            2. proxyInterfaces value to new dao 
            3. constructor-arg to dao model class
   -->
   
   <!-- common package dao's -->
   
    <bean id="organizationDao" parent="abstractDao">
      <property name="proxyInterfaces">
         <value>com.bia.payroll.dao.OrganizationDao</value>
      </property>
      <property name="target">
         <bean parent="abstractDaoTarget">
            <constructor-arg>
               <value>com.bia.payroll.entity.Oraganization</value>
            </constructor-arg>
         </bean>
      </property>
   </bean>
   
   <bean id="timesheetDao" parent="abstractDao">
      <property name="proxyInterfaces">
         <value>com.bia.payroll.dao.TimesheetDao</value>
      </property>
      <property name="target">
         <bean parent="abstractDaoTarget">
            <constructor-arg>
               <value>com.bia.payroll.entity.Timesheet</value>
            </constructor-arg>
         </bean>
      </property>
   </bean>
   
   <bean id="timesheetDetailDao" parent="abstractDao">
      <property name="proxyInterfaces">
         <value>com.bia.payroll.dao.TimesheetDetailDao</value>
      </property>
      <property name="target">
         <bean parent="abstractDaoTarget">
            <constructor-arg>
               <value>com.bia.payroll.entity.TimesheetDetail</value>
            </constructor-arg>
         </bean>
      </property>
   </bean>
   
   <bean id="usersDao" parent="abstractDao">
      <property name="proxyInterfaces">
         <value>com.bia.payroll.dao.UsersDao</value>
      </property>
      <property name="target">
         <bean parent="abstractDaoTarget">
            <constructor-arg>
               <value>com.bia.payroll.entity.Users</value>
            </constructor-arg>
         </bean>
      </property>
   </bean>
   
   <bean id="authoritiesDao" parent="abstractDao">
      <property name="proxyInterfaces">
         <value>com.bia.payroll.dao.AuthoritiesDao</value>
      </property>
      <property name="target">
         <bean parent="abstractDaoTarget">
            <constructor-arg>
               <value>com.bia.payroll.entity.Authorities</value>
            </constructor-arg>
         </bean>
      </property>
   </bean>
   
   
   
</beans>