<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
    
    
    <!--
     ##########################################################################
                            Services Declerations Begin
     ##########################################################################
    -->

    <!-- Example Services Decleration


    <bean id="personServiceImpl" class="com.company.projectname.service.impl.PersonServiceImpl" >
        <property name="personDao" ref="personDao"/>
    </bean>

    
    -->
    <bean id="eMailServiceImpl" class="com.bia.payroll.service.impl.EMailServiceImpl" />
      

<!-- this is a template message that we can pre-load with default state -->
   
    <bean id="userServiceImpl" class="com.bia.payroll.service.impl.UserServiceImpl" >
        <property name="organizationDao" ref="organizationDao" />
        <property name="usersDao" ref="usersDao" />
        <property name="authoritiesDao" ref="authoritiesDao" />
        <property name="EMailService" ref="eMailServiceImpl"/>
    </bean>
    <bean id="timesheetServiceImpl" class="com.bia.payroll.service.impl.TimesheetServiceImpl" >
        <property name="usersDao" ref="usersDao" />
        <property name="timesheetDao" ref="timesheetDao" />
        <property name="timesheetDetailDao" ref="timesheetDetailDao" />
        <property name="authoritiesDao" ref="authoritiesDao" />
    </bean>
</beans>