<?xml version="1.0" encoding="UTF-8"?>
<beans
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.directwebremoting.org/schema/spring-dwr
    http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">
    
    <!--
     ##########################################################################
                            Services Declerations Begin
     ##########################################################################
    -->

    <!-- Example Services Decleration


    <bean id="personServiceImpl" class="com.company.projectname.service.impl.PersonServiceImpl" >
        <property name="personDao" ref="personDao"/>
    </bean>

    
    -->
    <bean id="usersAjaxService" class="com.bizintelapps.promanager.ajax.AjaxUsersService" >
        <dwr:remote javascript="AjaxUsersService">
            <dwr:include method="signUp" />
            <dwr:include method="saveUser" />
            <dwr:include method="changePassword" />
            <dwr:include method="getUserDetails" />
            <dwr:include method="getUserList" />
            <dwr:include method="enableDisalbeUser" />
            <dwr:include method="deleteeUser" />
            <dwr:include method="changeMyPassword" />
            <dwr:include method="requestPasswordKeySendToEmail" />
            <dwr:include method="resetPasswordWithKey" />
        </dwr:remote>
        <!-- <property name="usersService" ref="usersServiceImpl" /> -->
    </bean>
    
    <bean id="projectAjaxService" class="com.bizintelapps.promanager.ajax.AjaxProjectService" >
        <dwr:remote javascript="AjaxProjectService">
            <dwr:include method="saveProject" />
            <dwr:include method="getProjectList" />
            <dwr:include method="deleteProject" />
            <dwr:include method="saveUserToProject" />
            <dwr:include method="getProjectUsers" />
            <dwr:include method="deleteUserFromProject" />
        </dwr:remote>
    </bean>
    
    <bean id="taskAjaxService" class="com.bizintelapps.promanager.ajax.AjaxTaskService" >
        <dwr:remote javascript="AjaxTaskService">
            <dwr:include method="getCurrentTask" />
        </dwr:remote>
    </bean>
    
    <dwr:configuration>
        <dwr:convert type="bean" class="com.bizintelapps.promanager.dto.*" />
        <dwr:convert type="bean"  class="java.util.*"  />
    </dwr:configuration>
</beans>