<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
    <persistence-unit name="WebApplication1PU" transaction-type="RESOURCE_LOCAL"> <!--JTA-->
        <provider>oracle.toplink.essentials.PersistenceProvider</provider>
        <class>com.bia.imec.entity.Emails</class>
        <class>com.bia.imec.entity.MailServers</class>
        <class>com.bia.imec.entity.Authorities</class>
        <class>com.bia.imec.entity.Contacts</class>
        <class>com.bia.imec.entity.Users</class>
        <properties>
            <property name="toplink.jdbc.user" value="imec"/>
            <property name="toplink.jdbc.password" value="imec"/>
            <property name="toplink.jdbc.url" value="jdbc:mysql:///imea"/>
            <property name="toplink.jdbc.driver" value="com.mysql.jdbc.Driver"/>
        </properties>
    </persistence-unit>
  <!--
    <provider>oracle.toplink.essentials.PersistenceProvider</provider>
    <jta-data-source>jdbc/imea</jta-data-source>
    <properties/>
  </persistence-unit>
  -->
</persistence>
