<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
    <bean id="reportEngine" class="com.bia.ccm.services.ajax.ReportEngine"/>
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="reportEngine" />
        <property name="targetMethod" value="processReport" />
        <property name="concurrent" value="false" />
    </bean>
    <bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
    <!-- see the example of method invoking job above -->
        <property name="jobDetail" ref="jobDetail" />
    <!-- 10 seconds -->
        <property name="startDelay" value="10000" />
    <!-- repeat every 50 seconds -->
        <property name="repeatInterval" value="50000" />
    </bean>
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref local="simpleTrigger"/>
            </list>
        </property>
    </bean>
</beans>