<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

                
    <bean id="IGenericDAO" class="com.abbt.crm.base.dao.GenericDAOImpl"/>
  
    <bean id="IAccountService" class="com.abbt.crm.base.services.impl.AccountServiceImpl" >
        <property name="dao">
            <ref bean="GenericDAO"></ref>
        </property>
    </bean>              
    <bean id="IContactService" class="com.abbt.crm.base.services.impl.ContactServiceImpl" >
        <property name="dao">
            <ref bean="GenericDAO"></ref>
        </property>
    </bean>  
    <bean id="IOpportunityService" class="com.abbt.crm.base.services.impl.OpportunityServiceImpl" >
        <property name="dao">
            <ref bean="GenericDAO"></ref>
        </property>
    </bean>  
    <bean id="ITaskService" class="com.abbt.crm.base.services.impl.TaskServiceImpl" >
        <property name="dao">
            <ref bean="GenericDAO"></ref>
        </property>
    </bean>      
    
</beans>                