<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
    
    
    <!--
     ##########################################################################
                            Services Declerations Begin
     ##########################################################################
    -->

    <!-- Example Services Decleration


    <bean id="personServiceImpl" class="com.company.projectname.service.impl.PersonServiceImpl" >
        <property name="personDao" ref="personDao"/>
    </bean>

    
    -->
    <bean id="adminServiceImpl" class="com.bia.ccm.services.impl.AdminServiceImpl" >
        <property name="usersDao" ref="usersDao" />
        <property name="systemsDao" ref="systemsDao" />
        <property name="emailPreferenceDao" ref="emailPreferenceDao" />
        <property name="emailTimePreferenceDao" ref="emailTimePreferenceDao" />
        <property name="systemLeaseDao" ref="systemLeaseDao" />
        <property name="organizationDao" ref="organizationDao" />
    </bean>
    <bean id="userServiceImpl" class="com.bia.ccm.services.impl.UserServiceImpl" >
    </bean>
    <bean id="workServiceImpl" class="com.bia.ccm.services.impl.WorkServiceImpl" >
        <property name="usersDao" ref="usersDao" />
        <property name="systemsDao" ref="systemsDao" />
        <property name="systemLeaseDao" ref="systemLeaseDao" />
    </bean>
</beans>