  <!-- EntityManagerFactory -->
<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
    <property name="persistenceUnitName" value="AccountManagerPU"/>
</bean>
    
    <!-- 
    datasource bean is used by spring unit testing 
    Uncomment this bean when testing application against some local database
   
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql:///imea"/>
        <property name="username" value="root"/>
        <property name="password" value="imran123"/>
    </bean>
     -->
     
    <!-- advisor -->
<bean id="finderIntroductionAdvisor" class="com.abbhsoft.jpadaoframework.dao.advisor.FinderIntroductionAdvisor" />
    
    <!-- helper bean resolves the finder method name -->
<bean id="extendedFinderNamingStrategy" class="com.abbhsoft.jpadaoframework.dao.finderhelper.ExtendedFinderNamingStrategy" />
    
    <!-- target -->
<bean id="abstractDaoTarget" class="com.abbhsoft.jpadaoframework.dao.GenericDaoJPAImpl" abstract="true">
    <property name="entityManagerFactory">
        <ref bean="entityManagerFactory"/>
    </property>
    <property name="namingStrategy">
        <ref bean="extendedFinderNamingStrategy" />
    </property>
</bean>
    
    <!-- base Proxy -->
<bean id="abstractDao" class="org.springframework.aop.framework.ProxyFactoryBean" abstract="true">
    <property name="exposeProxy" value="true" />
    <property name="interceptorNames">
        <list>
            <value>finderIntroductionAdvisor</value>
        </list>
    </property>
</bean>
    
    
    
    
    <!--
     ##########################################################################
                            Base Declerations End
     ##########################################################################
    <import resource="classpath:ApplicationContext-JpaDaoFramework.xml" />
    -->
    
    
    <!--
    #####################################################################
            Dao Declaration Begin
    #####################################################################    
    -->

    
   <!--  Dao instances 
   <bean id="personDao" parent="abstractDao">
      <property name="proxyInterfaces">
         <value>com.company.dao.PersonDao</value>
      </property>
      <property name="target">
         <bean parent="abstractDaoTarget">
            <constructor-arg>
               <value>com.company.model.Person</value>
            </constructor-arg>
         </bean>
      </property>
   </bean>
   
   -->
   <!-- 
            To add new dao, copy the entire bean defination from above and change
            3 things
            1. bean id
            2. proxyInterfaces value to new dao 
            3. constructor-arg to dao model class
   -->
   
   <!-- common package dao's -->
<bean id="accountDao" parent="abstractDao">
    <property name="proxyInterfaces">
        <value>com.bia.accountmanager.dao.AccountDao</value>
    </property>
    <property name="target">
        <bean parent="abstractDaoTarget">
            <constructor-arg>
                <value>com.bia.accountmanager.entity.Account</value>
            </constructor-arg>
        </bean>
    </property>
</bean>
<bean id="accounttypeDao" parent="abstractDao">
    <property name="proxyInterfaces">
        <value>com.bia.accountmanager.entity.AccountTypeDao</value>
    </property>
    <property name="target">
        <bean parent="abstractDaoTarget">
            <constructor-arg>
                <value>com.bia.accountmanager.entity.AccountType</value>
            </constructor-arg>
        </bean>
    </property>
</bean>
<bean id="categoryDao" parent="abstractDao">
    <property name="proxyInterfaces">
        <value>com.bia.accountmanager.entity.CategoryDao</value>
    </property>
    <property name="target">
        <bean parent="abstractDaoTarget">
            <constructor-arg>
                <value>com.bia.accountmanager.entity.Category</value>
            </constructor-arg>
        </bean>
    </property>
</bean>
<bean id="organisationtypeDao" parent="abstractDao">
    <property name="proxyInterfaces">
        <value>com.bia.accountmanager.entity.OrganisationTypeDao</value>
    </property>
    <property name="target">
        <bean parent="abstractDaoTarget">
            <constructor-arg>
                <value>com.bia.accountmanager.entity.OrganistationType</value>
            </constructor-arg>
        </bean>
    </property>
</bean>
<bean id="oraganizationDao" parent="abstractDao">
    <property name="proxyInterfaces">
        <value>com.bia.accountmanager.entity.OrganizationDao</value>
    </property>
    <property name="target">
        <bean parent="abstractDaoTarget">
            <constructor-arg>
                <value>com.bia.accountmanager.entity.Organization</value>
            </constructor-arg>
        </bean>
    </property>
</bean>
<bean id="payeesDao" parent="abstractDao">
    <property name="proxyInterfaces">
        <value>com.bia.accountmanager.entity.PayeesDao</value>
    </property>
    <property name="target">
        <bean parent="abstractDaoTarget">
            <constructor-arg>
                <value>com.bia.accountmanager.entity.Payees</value>
            </constructor-arg>
        </bean>
    </property>
</bean>
<bean id="transactionDao" parent="abstractDao">
    <property name="proxyInterfaces">
        <value>com.bai.accountmanager.entity.TransactionDao</value>
    </property>
    <property name="target">
        <bean parent="abstractDaoTarget">
            <constructor-arg>
                <value>com.bia.accountmanager.entity.Transactions</value>
            </constructor-arg>
        </bean>
    </property>
</bean>
<bean id="usersDao" parent="abstractDao">
    <property name="proxyInterfaces">
        <value>com.bia.accountmanager.entity.UsersDao</value>
    </property>
    <property name="target">
        <bean parent="abstractDaoTarget">
            <constructor-arg>
                <value>com.bia.accountmanager.entity.Users</value>
            </constructor-arg>
        </bean>
    </property>
</bean>
</beans>